<!DOCTYPE html>
<html lang="en" style="background-color: black; font-style: normal; color: white; font-family: 'Droid Sans Mono Awesome',emoji">
<head>
    <meta charset="UTF-8">
    <title>Spring boot 3</title>
</head>
<body>
<h1>Greetings Learning Spring Boot 3.0 fans!</h1>
<p>In this chapter, we are learning how to make</p>

<ul>
    {{#videos}}
        <li>{{name}}</li>
    {{/videos}}
</ul>

<br/>

<h3>Create a video</h3>
<form action="/new-video" method="post">
    <input type="text" name="name"/>
    <button type="submit">Submit</button>
</form>

<br/>

<h3>Search many videos</h3>
<form action="/search-video" method="post">
    <label for="name">Name:</label>
    <input type="text" name="name"/>
    <button type="submit">Search</button>
</form>

<ul>
    {{#videosFound}}
        <li>{{name}}</li>
    {{/videosFound}}
</ul>

</body>
</html>